* {
    box-sizing: border-box;
}

:root {
    --nft-soft-blue: hsl(215, 51%, 70%);
    --nft-cyan: hsl(178, 100%, 50%);
    --nft-cyan-op: hsl(178, 100%, 50%, 50%);

    --nft-main-bg-vdblue: hsl(217, 54%, 11%);
    --nft-card-bg-vdblue: hsl(216, 50%, 16%);
    --nft-line-vdblue: hsl(215, 32%, 27%);
    --nft-white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    background: var(--nft-main-bg-vdblue);
    color: var(--nft-white);
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nft-card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1rem;
    background: var(--nft-card-bg-vdblue);
    width: 324px;
}

.nft-card__img-container {
    margin-bottom: 30px;
    position: relative;
}

.nft-card__img-container img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    border-radius: .5rem;
    transition: .5s ease;
}

.nft-card__img-container--overlay {
    opacity: 0;
    background: var(--nft-cyan-op);
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.nft-card__img-container--overlay img {
    width: 45px;
    height: 45px;
}

.nft-card__img-container:hover .nft-card__img-container--overlay {
    cursor: pointer;
    opacity: 1;
}


/* .nft-card__img-container--overlay:hover {
    display: block;
    background: var(--nft-cyan);
    opacity: 1;
} */

.nft-card__text-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.nft-card__text-container h1:hover {
    cursor: pointer;
    color: var(--nft-cyan);
}

.nft-card__text-container p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 1.6;
    opacity: .8;
    color: var(--nft-soft-blue);
}

.nft-card__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .9rem;
}

.nft-card__value-left {
    display: flex;
    align-items: center;
}

.nft-card__value-left img {
    margin-right: .4rem;
}


.nft-card__value-left span {
    font-weight: 700;
    color: var(--nft-cyan);
}

.nft-card__value-right {
    display: flex;
    align-items: center;
}

.nft-card__value-right img {
    margin-right: .5rem;
}


.nft-card__value-right span {
    font-weight: 400;
    opacity: .8;
    color: var(--nft-soft-blue);
}

.nft-card__line {
    background: var(--nft-line-vdblue);
    width: 100%;
    height: 1px;
    margin-bottom: .9rem;
}

.nft-card__user {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.nft-card__user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--nft-white);
    margin-right: 1rem;
}

.nft-card__light-text {
    color: var(--nft-soft-blue);
}

.nft-card__normal-text {
    color: var(--nft-white);
}


.nft-card__normal-text:hover {
    cursor: pointer;
    color: var(--nft-cyan);
}